HUGGING_ENV/
Course/
First/
Sentiment/data/
Sentiment/model-overview/

.DS_Store

Sentiment/FineTune_Sentiment_1/aclImdb/
Sentiment/FineTune_Sentiment_1/results/
Sentiment/FineTune_Sentiment_1/sentiment_transfer_learning_transformer/
Sentiment/FineTune_Sentiment_1/data.csv

FineTune_Argument_1/argument_transfer_learning_transformer/
FineTune_Argument_1/data.csv

# Ignore all files and directories under FineTunedBERT/
FineTunedBERT/Argument/26062217/*

FineTunedBERT/Sentiment/24060142/*
FineTunedBERT/Sentiment/30051621/*

*.pkl

