HUGGING_ENV/
Course/
First/
Sentiment/data/
Sentiment/model-overview/

.DS_Store

Sentiment/FineTune_Sentiment_1/aclImdb/
Sentiment/FineTune_Sentiment_1/results/
Sentiment/FineTune_Sentiment_1/sentiment_transfer_learning_transformer/
Sentiment/FineTune_Sentiment_1/data.csv

FineTune_Argument_1/argument_transfer_learning_transformer/
FineTune_Argument_1/data.csv

FineTunedBERT/

*.pkl

