HUGGING_ENV/
Course/
First/
Sentiment/data/
.DS_Store

FineTune_Sentiment_1/aclImdb/
FineTune_Sentiment_1/results/
FineTune_Sentiment_1/sentiment_transfer_learning_transformer/
FineTune_Sentiment_1/data.csv

FineTune_Argument_1/argument_transfer_learning_transformer/
FineTune_Argument_1/data.csv

